* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    width: 100%;
}

body {
    background: rgb(0, 0, 0) !important;
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(94,87,121,1) 35%, rgba(0,0,0,1) 70%); */
    font-family: 'Merriweather', serif !important;
}

.navbar {
    background-color: black;
    height: 100px;
}

.logo {
    float: left;
    padding: 0px;
}

.logo img {
    height: 90px;
    filter: brightness(0) invert(1);
}

.options {
    float: right;
    padding: 30px;
}

.options a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.options a:hover{
    border-bottom: 1px solid white;
    color: coral !important;
}

.banner {
    background-image: url(../img/bmth/bmth_banner.jpg);
    background-size: cover;
    height: 500px;
    opacity: 0.9;
}

.name {
    float: right;
    padding: 70px 20px;
}

.name h1{
    font-size: 90px;
    color: black;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 600;
    text-shadow: 3px 3px white;
}

.history {
    padding: 70px;
}

.history h2 {
    font-size: 40px;
    color: lightgray;
} 

.history p {
    font-size: 20px;
    text-align: justify ;
    font-weight: 400;
    color:  lightgray;
}

.members {
    padding: 20px;
}

.members h2 {
    font-size: 40px;
    color: lightgray;
}

.members table{
    height: 1000px;
    width: 1000px;
}
.members td {
    padding: 20px;
}

.card-img-top {
    height: 400px !important;
    border-radius: 20px;
}

.membs .card{
    font-size: 14px;
    margin: 10px;
    padding: 10px;
    float: left;
    border-radius: 20px;
    height: 700px;
}

.card-text {
    text-align: justify;
}